/* ==UserStyle==
@name           打印优化 - 开源中国社区
@description    广告屏蔽 && 打印优化
@author         snail
@version        1.3.0
@preprocessor   less
@namespace      https://github.com/osdu/stylus-usercss
@homepageURL    https://github.com/osdu/stylus-usercss/blob/master/usercss/club/oschina.net.user.css
==/UserStyle== */
@-moz-document domain("oschina.net") {
	@media all {
		.header-box {
			.app-download,
			.search-box {
				display: none !important;
			}
		}

		.osc-new-layout {
			.header-box--fixed {
				position: absolute;
			}
		}
	}

	@media print {
		.header-box {
			.user-message,
			.user-info .caret {
				display: none !important;
			}
		}

		#footer,
		#copyright,
		.back-to-top {
			display: none !important;
		}
	}
}

@-moz-document url-prefix("https://www.oschina.net/p/")
{
	@media all {
		.project-detail-container {
			.detail-body-box {
				.article-detail {
					max-height: none !important;
				}

				.collapse-bar {
					display: none !important;
				}
			}
			.comment-item:not(.comment-item--child) {
				display: block !important;
			}
		}
	}

	@media print {
		.project-detail-container {
			.sidebar-box,
			.detail-toolbar-box,
			.header-info__meta {
				display: none !important;
			}

			.detail-body-box {
				.main-box {
					width: 100% !important;
				}
			}
		}
	}
}

@-moz-document url-prefix("https://www.oschina.net/news/")
{
	@media all {
		.news-detail-container {
			.detail-body-box {
				.article-detail {
					max-height: none !important;
				}

				.collapse-bar {
					display: none !important;
				}
			}
			.comment-item:not(.comment-item--child) {
				display: block !important;
			}
		}
	}

	@media print {
		.news-detail-container {
			.sidebar-box,
			.detail-toolbar-box,
			.other-articles-box,
			.copyright-box,
			.action-box,
			.recommend-box {
				display: none !important;
			}

			.detail-body-box {
				.main-box {
					width: 100% !important;
				}
			}
		}
	}
}
