/* ==UserStyle==
@name           打印优化 - 开源中国社区
@description    广告屏蔽 && 打印优化
@author         snail
@version        1.0.7
@preprocessor   less
@namespace      https://github.com/osdu/stylus-usercss
@homepageURL    https://github.com/osdu/stylus-usercss/blob/master/usercss/club/oschina.net.user.css
==/UserStyle== */

@-moz-document domain("www.oschina.net") {
	.soft-container {
		display: none;
	}

	@media print {
		#headerNavMenu {
			position: absolute !important;
		}

		.news-main {
			min-width: 100%;
		}

		#headerNavMenu #keyword,
		.news-sidebar,
		.article-footer-list,
		.source-info + div.segment.action,
		.back-to-top-toggle,
		#btnDownloadApp,
		#footer,
		#copyright {
			display: none !important;
		}

		#mainScreen > .ui.container > .ui.grid {
			padding: 50px !important;
		}
	}
}
