/* ==UserStyle==
@name           打印优化 - 今日头条
@description    打印优化
@author         snail
@version        1.1.0
@preprocessor   less
@namespace      https://github.com/osdu/stylus-usercss
@homepageURL    https://github.com/osdu/stylus-usercss/blob/master/usercss/club/toutiao.com.user.css
==/UserStyle== */
@-moz-document url-prefix("https://www.toutiao.com/i"), url-prefix("https://www.toutiao.com/article/") {
  @media print {
    .ttp-site-header .ttp-header-profile {
      display: none !important;
    }
    .article-detail-container > .left-sidebar,
    .article-detail-container > .right-sidebar,
    .article-detail-container + .toolbar {
      display: none !important;
    }
    .article-detail-container > .main {
      margin: 0 auto;
      width: 96%;
    }
    .article-detail-container > .main > .action,
    .article-detail-container > .main .ttp-comment-block,
    .article-detail-container > .main .detail-end-feed,
    .article-detail-container > .main .detail-end-feed + .feed-m-loading {
      display: none !important;
    }
  }
}
