/* ==UserStyle==
@name           打印优化 - APKMirror
@description    打印优化
@author         snail
@version        1.0.2
@preprocessor   less
@namespace      https://github.com/osdu/stylus-usercss
@homepageURL    https://github.com/osdu/stylus-usercss/blob/master/usercss/blog/apkmirror.com.user.css
==/UserStyle== */
@-moz-document domain("apkmirror.com") {
  #content {
    width: 100%;
  }
  #sidebar,
  .footer {
    display: none;
  }
  .noPadding.center {
    text-align: left;
  }
  .pushbullet-subscribe-widget {
    display: none !important;
  }
}
