/* ==UserStyle==
@name           恩山无线论坛
@version        1.0.1
@description    A new userstyle
@namespace      https://github.com/osdu/stylus-usercss
@supportURL     https://github.com/osdu/stylus-usercss/issues
@homepageURL    https://github.com/osdu/stylus-usercss/blob/master/right.com.cn.user.css
@updateURL      https://raw.githubusercontent.com/osdu/stylus-usercss/master/right.com.cn.user.css
@author         osdu
==/UserStyle== */
@-moz-document domain("right.com.cn") {
	#vfastpost,
	dl[id^='ratelog_'] {
		display: none;
	}

	.plc.plm {
		display: none;
	}

	.plc .pct img {
		width: auto;
		height: auto;
		max-width: 100%;
	}

	#hd > .wp > .hdc.cl > h2 {
		display: none;
	}
}
