/* ==UserStyle==
@name           无忧启动论坛
@version        1.0.1
@description    A new userstyle
@namespace      https://github.com/osdu/stylus-usercss
@supportURL     https://github.com/osdu/stylus-usercss/issues
@homepageURL    https://github.com/osdu/stylus-usercss/blob/master/wuyou.net.user.css
@updateURL      https://raw.githubusercontent.com/osdu/stylus-usercss/master/wuyou.net.user.css
@author         osdu
==/UserStyle== */
@-moz-document domain("wuyou.net") {
	#vfastpost,
	dl[id^='ratelog_'] {
		display: none;
	}

	.plc.plm {
		display: none;
	}

	.plc .pct img {
		width: auto;
		height: auto;
		max-width: 100%;
	}
}
