/* ==UserStyle==
@name           百度全家桶
@version        1.0.1
@description    广告屏蔽
@preprocessor   less
@author         snail
@namespace      https://github.com/osdu/stylus-usercss
@supportURL     https://github.com/osdu/stylus-usercss/issues
@homepageURL    https://github.com/osdu/stylus-usercss/blob/master/usercss/baidu.com.user.css
@updateURL      https://raw.githubusercontent.com/osdu/stylus-usercss/master/usercss/baidu.com.user.css
==/UserStyle== */
@-moz-document domain("pan.baidu.com") {
  .bd-left .ad-platform-tips.ad-multi-tips {
    display: none;
  }
  .bd-aside .ad-platform-tips {
    display: none;
  }
}
@-moz-document domain("baijiahao.baidu.com") {
  .anci_header_content {
    min-width: 900px;
    width: 90%;
  }
  #content-container {
    min-width: 900px;
    width: 90%;
  }
  #left-container {
    width: calc(100% - 300px);
  }
  #left-container .article {
    width: 100%;
  }
  #right-container .related-news {
    display: none;
  }
  .article-content img.large {
    width: auto;
    max-width: 100%;
  }
}
