/* ==UserStyle==
@name           打印样式 - 简书
@version        1.0.0
@description    打印样式
@preprocessor   less
@author         snail
@namespace      https://github.com/osdu/stylus-usercss
@supportURL     https://github.com/osdu/stylus-usercss/issues
@homepageURL    https://github.com/osdu/stylus-usercss/blob/master/usercss/jianshu.com.user.css
@updateURL      https://raw.githubusercontent.com/osdu/stylus-usercss/master/usercss/jianshu.com.user.css
==/UserStyle== */
@-moz-document domain("www.jianshu.com") {
  @media print {
    /* 	侧边栏、页脚 */
    #__next aside,
    #__next > footer {
      display: none;
    }
    /* 	推荐阅读 */
    #note-page-comment + section.ouvJEz {
      display: none;
    }
    /* 按钮 */
    #__next > footer + div._3Pnjry,
    .ant-back-top {
      display: none;
    }
    /* 导航 */
    #__next > header > div._1CSgtu > div._2oDcyf {
      min-width: 800px;
    }
    div[role="main"] {
      width: 98%;
    }
    div[role="main"] > div._gp-ck {
      width: 100%;
    }
    #__next ._1CSgtu {
      position: absolute;
    }
  }
}
