/* ==UserStyle==
@name           开源中国社区
@version        1.0.3
@description    广告屏蔽 && 打印优化
@preprocessor   less
@author         snail
@namespace      https://github.com/osdu/stylus-usercss
@supportURL     https://github.com/osdu/stylus-usercss/issues
@homepageURL    https://github.com/osdu/stylus-usercss/blob/master/usercss/oschina.net.user.css
@updateURL      https://raw.githubusercontent.com/osdu/stylus-usercss/master/usercss/oschina.net.user.css
==/UserStyle== */
@-moz-document domain("www.oschina.net") {
  .soft-container {
    display: none;
  }
  @media print {
    #headerNavMenu {
      position: absolute !important;
    }
    .news-main {
      min-width: 100%;
    }
    #headerNavMenu #keyword,
    .news-sidebar,
    .article-footer-list,
    .source-info + div.segment.action,
    .back-to-top-toggle,
    #footer,
    #copyright {
      display: none !important;
    }
    #mainScreen > .ui.container > .ui.grid {
      padding: 50px !important;
    }
  }
}
