/* ==UserStyle==
@name           打印优化 - 恩山无线论坛
@version        1.0.5
@description    广告屏蔽 && 打印优化
@preprocessor   less
@author         snail
@namespace      https://github.com/osdu/stylus-usercss
@homepageURL    https://github.com/osdu/stylus-usercss/blob/master/usercss/right.com.cn.user.css
==/UserStyle== */
@-moz-document domain("right.com.cn") {
  #vfastpost,
  dl[id^='ratelog_'] {
    display: none;
  }
  .plc.plm {
    display: none;
  }
  .plc .pct img {
    width: auto;
    height: auto;
    max-width: 100%;
  }
  #hd > .wp > .hdc.cl > h2 {
    display: none;
  }
}
