/* ==UserStyle==
@name           miwifi.io - 孔雀蓝
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */
@-moz-document domain("miwifi.io") {
  @media all {
    * {
      font-family: Arial;
      font-size: 14px;
    }
    body {
      font-family: Arial;
      font-size: 16px;
    }
    /* Chowfafa style */
    #content {
      font-size: 18px;
      font-weight: bold;
    }
    /* Chowfafa style */
    ul.tabmenu {
      font-size: 12pt;
      padding: 0 0 0 3px;
    }
    div.tabmenu3,
    div.tabmenu4,
    div.tabmenu5 {
      background: -moz-radial-gradient(80% 5%, farthest-side, #91b1fe, #fff);
      background: -webkit-radial-gradient(80% 5%, farthest-side, #91b1fe, #fff);
    }
    ul.tabmenu li {
      font-size: 14px;
    }
    ul.tabmenu li a {
      font-size: 100%;
    }
    div.hostinfo {
      padding: 0.5em 0 0.5em 0.5em;
    }
    html #menubar a:link,
    html #menubar a:visited {
      font-size: 100%;
      padding: 0.5em 0.5em 0 0;
    }
    textarea#syslog {
      font-family: arial;
      font-size: 12px;
      line-height: 20px;
      box-sizing: border-box;
      width: 100%;
      margin-left: 0;
      padding: 8px;
      border: 1px solid #ccc;
    }
    #maincontainer {
      width: calc(100% - 16px);
    }
    #maincontent {
      border-style: none;
    }
    #maincontent h2 {
      font-family: 'Microsoft YaHei';
      font-size: 22px;
      padding-bottom: 10px;
    }
    select {
      width: 184px;
      height: 28px;
      padding: 1px 2px 1px 2px;
      color: #000;
      border-width: 1px;
      border-color: #000;
      border-radius: 3px;
      background: #eee;
    }
    input {
      height: 24px;
      padding: 1px 6px 1px 6px;
      color: #000;
      border-width: 1px;
      border-color: #000;
      border-radius: 3px;
      background: #eee;
    }
    textarea {
      padding: 1px 2px 1px 2px;
      border-radius: 3px;
    }
    select,
    input[type=text],
    input[type=password] {
      margin: 8px 0 8px 0;
    }
    td select,
    td input[type=text],
    td input[type=password] {
      font-size: 14px;
    }
    input.cbi-button {
      height: 28px;
    }
    input.cbi-button-up {
      padding-right: 6px;
    }
    input.cbi-button-down {
      padding-right: 6px;
    }
    textarea {
      line-height: 20px;
    }
    table.cbi-section-table .cbi-section-table-cell {
      padding: 0 10px 0 2px;
    }
    div.cbi-value {
      padding: 0.25em 1em;
    }
    div.cbi-value-description {
      display: block;
    }
    div.cbi-section-create .cbi-button {
      margin: 10px;
    }
    table.cbi-section-table {
      font-size: 100%;
      line-height: 22px;
    }
    .luci {
      left: 0.3em;
      width: 98%;
      text-align: center;
    }
    form > div > input[type=submit],
    form > div > input[type=reset] {
      padding-right: 8px;
      padding-left: 18px;
      background-position-x: 2px;
    }
  }
  @media all {
    ul.tabmenu li a {
      margin-top: 4px;
      padding: 5px 10px;
    }
    div.tabmenu2 {
      border-style: none;
    }
    #bgbox {
      background: #000;
    }
  }
}
